[Unit]
Description=Auto Reverse SSH
Requires=systemd-networkd-wait-online.service
After=systemd-networkd-wait-online.service
[Service]
ExecStart=/usr/bin/autossh -f -M 0 reverse-ssh
[Install]
WantedBy=multi-user.target
