[Unit]
Description=Auto Reverse SSH
Wants=network-online.target
After=network-online.target
[Service]
User={{ ansible_user }}
ExecStart=/usr/bin/autossh -f -M 0 -T -N reverse-ssh
[Install]
WantedBy=multi-user.target
